@import "./sass/colors.scss";

/* Courses section */

.courseSection{
    flex-direction: column;
    width: 100%;
    padding: 20px;

    .coursesContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 30px 0;
        gap: 100px;
        width: 1000px;
        
        .courseBox{
            -webkit-box-shadow: 0px 0px 28px 7px rgba(0,0,0,0.24);
            box-shadow: 0px 0px 28px 7px rgba(0,0,0,0.24);
            background-image: linear-gradient(to right bottom, #7f078381, #7a0d7e75, #76117a6c, #72147579, #6c177188);
            

            img{
                width: 200px;
                height: 200px;
            }
            p{
                font-size: 1.1em;
            }
            button{
                display: block;
                background-color: #f85bc9;
                outline: 3px #f85bc9 solid;
                outline-offset: -3px;
                border-radius: 5px;
                border: none;
                padding: 10px 15px;
                -webkit-box-shadow: $importantGlow;
                box-shadow: $importantGlow;
                cursor: pointer;
                transition: 400ms;
                &:hover{
                    background-color: transparent;
                    color: #fefefe;
                    transition: 400ms;
                }
                    
                .button_text{
                    font-weight: 700;
                    font-size: 1.1em;
                    transition: 0.1ms;
                }
            }
        }
    }

    @media (max-width: 1200px) {
        .coursesContainer {
            width: 80%;
        }
    }

    @media (max-width: 768px) {
        .courseBox {
            width: 90%;
            padding: 30px;
        }
    }

    @media (max-width: 480px) {
        .coursesContainer {
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }
    }
}