@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import "../components/nav.scss";
@import "../components/header.scss";@import "../components/courses.scss";
@import "../components/sass/colors.scss";

/* General */

html{
  scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: $background-color;
    color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
  }

/* Container */
.container{
  display: flex;
}